.App {
  display: flex;
  margin-top: 50px;
}

.margin {
  width: 30vw;
}

.Todolist_Container {
  width: 40vw;
  min-height: 500px;
  border: 2px solid #f8d655;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='checkbox'] {
  display: none;
}

li {
  display: flex;
  width: 25vw;
  margin-top: 15px;
  justify-content: space-between;
}

.Todo_Content {
  font-size: 1.2rem;
}

input[type='checkbox']:checked + .Todo_Content {
  color: rgb(128, 128, 128);
  font-style: italic;
  text-decoration: line-through;
}
